// FONTS
$baseFontSize: 16px;
$baseFontFamily: 'Montserrat',
sans-serif;
$baseFontWeightLight: 300;
$baseFontWeightBold: 600;
// COLORS
$baseColor:#E67B3A;
$baseBlack: #000;
$baseWhite: #fff;
$baseGray: #222;