    .header__menu-button {
        display: none;
    }
    
    .header__menu {
        @include display(flex);
        position: relative;
        flex: 4;
        font-size: rem(14px);
        font-weight: $baseFontWeightBold;
        z-index: 0;
        left: 0;
        overflow: visible;
        ul {
            @include flex-direction(row);
            li {
                display: inline-block;
                padding: 10px;
                padding-right: 20px;
                margin-right: 10px;
                background: none;
                position: relative;
                transition: all .4s ease;
                a {
                    display: inline-block;
                }
                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    @include flex-direction(column);
                    font-weight: $baseFontWeightLight;
                    top: 45px;
                    left: 0;
                    min-width: 220px;
                    background-color: $baseWhite;
                    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.103);
                    transition: all .4s ease;
                    z-index: 10000;
                    li {
                        min-width: 100%;
                        margin: 0;
                        padding: 0 auto 0 20px;
                        transition: all 0.5s ease;
                        a {
                            min-width: 100%;
                            display: block;
                            &::after {
                                display: none;
                            }
                        }
                        &:hover {
                            background-color: rgb(232, 232, 232);
                            box-shadow: none;
                            &>a {
                                color: #E67B3A;
                            }
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px -6px 0px 0px rgba(235, 112, 37, .3) inset;
                    &>ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            li.active-li {
                box-shadow: 0px -6px 0px 0px rgba(235, 112, 37, .3) inset;
            }
        }
    }
    
    .has-submenu {
        a {
            &::before {
                display: none;
            }
            &::after {
                content: "^";
                transform: rotate(180deg);
                position: absolute;
                top: 1px;
                padding-right: 5px;
                &:last-of-type {
                    display: none;
                }
            }
        }
    }
    
    .dark-overlay {
        display: none;
    }